.container {
    width: 600px;
    height: 400px;
    border: 1px solid palevioletred;
}

.bar {
    fill: palevioletred;
}

.button{
    width: 10px;
    height: 20px;
    border: purple;
    background: purple;
}